<section
  class="w-full xl:max-w-[1100px] container mx-auto border bg-white rounded shadow relative -top-11 flex flex-col gap-4 py-6 px-2 justify-center"
>
  <div
    class="w-full flex justify-center items-center gap-4 sm:gap-12 xl:justify-between xl:px-12"
  >
    <div>
      <p class="text-zinc-400">From</p>
      <p class="text-base font-semibold sm:text-lg">London</p>
    </div>
    <div>
      <p class="text-zinc-400">To</p>
      <p class="text-base font-semibold sm:text-lg">Malaga</p>
    </div>
    <div>
      <p class="text-zinc-400">Departure</p>
      <p class="text-base font-semibold sm:text-lg">10/11/2024</p>
    </div>
    <div>
      <p class="text-zinc-400">Arrival</p>
      <p class="text-base font-semibold sm:text-lg">18/11/2024</p>
    </div>
    <button
      class="bg-black text-white py-3 rounded font-semibold hidden xl:block px-4"
      >Search</button
    >
  </div>
  <button class="bg-black text-white py-3 rounded font-semibold xl:hidden"
    >Search</button
  >
</section>
